<mat-card>
    <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form [formGroup]="loginForm" >
  <p>
    <mat-form-field apearance="standard" fxFlex>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
            <span *ngIf="loginForm.controls.email.errors.required" >Email is required</span>
            <span *ngIf="loginForm.controls.email.errors.pattern" >Email is invalid</span>
        </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field apearance="standard" fxFlex>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required [type]="hide ? 'password':'text'">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
            <span *ngIf="loginForm.controls.password.errors.required" >Password is required</span>
        </mat-error>
    </mat-form-field>
  </p>



  <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]=" !(loginForm.valid && loginForm.dirty)">
    <mat-icon>login</mat-icon> Login
</button>

</form>
</mat-card-content>
</mat-card>