.mat-toolbar
{
  margin: 0px;
  width: auto;
 
  margin-bottom: 10px;
  background-color: black;
}

mat-form-field
{
  padding: 10px;
  
}

mat-toolbar-row 
{
  color: aliceblue;
}


mat-hint
{
  color: red;
}
