<section class="services-form-calc">
    <div class="uk-container uk-container-large">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-margin-bottom bold-weight">
                <span class="title black-color" style="padding: 2%; font-size: 30px; font-weight: bold; padding-left: 0; color: #000;">
                    CALCULATEUR DE BUDGET POUR VOS CONTRATS DE SERVICES </span>
                <p class="other-size regular-weight">
                    Vous pouvez calculer votre contrat de services en choisissant le modèle de votre véhicule, le type de
                    contrat, la durée du contrat souhaitée et le kilométrage.
                </p>
            </div>
        </div>

        <div class="uk-grid uk-margin-medium-top">
            <div class="uk-width-1-2@m uk-width-1-1">

                <div class="uk-grid-small service-price-form" uk-grid>
                    
                    <mat-form-field class="uk-width-1-1">
                        <label>Modèle</label>
                        <mat-select [(ngModel)]="mvtarget" (selectionChange)="onSelectModelv($event)" placeholder="--">
                            <mat-option *ngFor="let modelevs of modelev" [value]="modelevs">{{modelevs}}</mat-option>

                        </mat-select>

                    </mat-form-field>
                    <mat-form-field class="uk-width-1-1">
                        <label>Type de contrat</label>
                        <mat-select [(ngModel)]="typetarget" (selectionChange)="onSelectType($event)" placeholder="--">
                            <mat-option *ngFor="let types of type" [value]="types">{{types}}</mat-option>
                        </mat-select>

                    </mat-form-field>
                    <mat-form-field class="uk-width-1-2@m uk-width-1-1">
                        <label> Durée </label>
                        <mat-select [(ngModel)]="dureetarget" (selectionChange)="onSelectDureeGarantie($event)"
                            placeholder="--">
                            <mat-option *ngFor="let durees of dureeGarantie" [value]="durees">{{durees}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="uk-width-1-2@m uk-width-1-1">
                        <label>Km</label>
                        <mat-select [(ngModel)]="ktarget" (selectionChange)="onSelectKm($event)" placeholder="--" >
                            <mat-option *ngFor="let kms of km" [value]="kms">
                                {{kms | number}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="uk-width-1-1">
                        <input class="more-btn" type="submit" value="Calculer" (click)="onClick()"  [disabled]= "ktarget==undefined">
                    </div>
                </div>
                <!-- <div style="text-align: center;  margin-top: 70px; font-size: 20px; font-weight: 500; color: #000">
                  <span >FİYATLARIMIZ GÜNCELLENİYOR</span>
              </div>-->
                <!-- ACTIVE DIV (Yukarıdaki formdan seçilecek seçeneğe göre burası değişecek.) -->

                <div class="services-info" *ngIf="hidedisplay">
                    <div class="uk-flex uk-flex-around">
                        <div>
                            <span class="subtitle" id="price-model">PEUGEOT {{mvtarget}}</span><br>
                            <span class="subtitle" id="price-month">Contrat {{typetarget}}</span><br>
                            <span class="subtitle" id="price-month">Durée {{dureetarget}}</span><br>
                            <span class="subtitle" id="price-km">KM {{ktarget | number}}</span><br>
                        </div>
                        <div class="">
                            <span class="subtitle">PHT</span><br>
                            <span class="price" id="pure-price">{{PUHT | number}} TND</span>
                        </div>
                        <div class="">
                            <span class="subtitle">PTTC</span><br>
                            <span class="price" id="price-with-kdv">{{PUTTC | number }} TND</span>
                        </div>
                    </div>
                </div>

                <div class="uk-width-1-1 uk-margin-bottom uk-grid-margin uk-first-column" style="padding-top: 0; padding-bottom: 0;">
                    <p class="small-size" style="text-align: justify;">
                        <span style="color: red;">*</span>Ces prix sont à titre indicatif et sont valables au moment de l'achat du véhicule.
STAFIM se réserve le droit de modifier les prix et le contenu sans préavis.
Pour plus d’informations, consultez votre Point Service PEUGEOT.
                    </p>

                </div>


                <!-- #ACTIVE DIV -->


            </div>
            <div class="uk-width-1-2@m uk-width-1-1" style="background-color: #F5F5F5; padding-bottom: 0;">


                
                <div class="contact-form satis-sonrasi-cover">
                    <div class="span"><span class="title">Merci de laisser vos coordonnées, un conseiller commercial vous contactera.</span></div>
                    <form   [formGroup]="demandeForm" id="ctl00" class="uk-grid-small arti-garanti-satis-sonrasi" uk-grid="">
                       

                        <mat-form-field apearance="standard" class="uk-width-1-2@m uk-width-1-1">
                            <mat-label>Nom</mat-label>
                            <input matInput formControlName="nom" required type="text">
                            <mat-error *ngIf="demandeForm.controls.nom.touched && demandeForm.controls.nom.invalid">
                                <span *ngIf="demandeForm.controls.nom.errors.required" >Nom est obligatoire</span>
                                <span *ngIf="demandeForm.controls.nom.errors.pattern" >Nom n'est pas valide</span>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field apearance="standard" class="uk-width-1-2@m uk-width-1-1">
                            <mat-label>Prénom</mat-label>
                            <input matInput formControlName="prenom" required type="text">
                            <mat-error *ngIf="demandeForm.controls.prenom.touched && demandeForm.controls.prenom.invalid">
                                <span *ngIf="demandeForm.controls.prenom.errors.required" >Prénom est obligatoire</span>
                                <span *ngIf="demandeForm.controls.prenom.errors.pattern" >Prénom n'est pas valide</span>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field apearance="standard" class="uk-width-1-2@m uk-width-1-1">
                            <mat-label>Tel</mat-label>
                            <input matInput formControlName="tel" required type="text">
                            <mat-error *ngIf="demandeForm.controls.tel.touched && demandeForm.controls.tel.invalid">
                                <span *ngIf="demandeForm.controls.tel.errors.required" >Tel est obligatoire</span>
                                <span *ngIf="demandeForm.controls.tel.errors.pattern" >Tel n'est pas valide</span>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field apearance="standard" class="uk-width-1-2@m uk-width-1-1">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" required type="text">
                            <mat-error *ngIf="demandeForm.controls.email.touched && demandeForm.controls.email.invalid">
                                <span *ngIf="demandeForm.controls.email.errors.required" >Email est obligatoire</span>
                                <span *ngIf="demandeForm.controls.email.errors.pattern" >Email n'est pas valide</span>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field apearance="standard" class="uk-width-1-2@m uk-width-1-1">
                            <mat-label>Immatriculation</mat-label>
                            <input matInput formControlName="matricule" required type="text">
                            <mat-error *ngIf="demandeForm.controls.matricule.touched && demandeForm.controls.matricule.invalid">
                                <span *ngIf="demandeForm.controls.matricule.errors.required" >Immatriculation est obligatoire</span>
                                <span *ngIf="demandeForm.controls.matricule.errors.pattern" >Immatriculation n'est pas valide</span>
                            </mat-error>
                        </mat-form-field>
                       
                    
                        <div class="uk-width-1-1">
                            <button  mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]=" !(demandeForm.valid && demandeForm.dirty)">
                                <mat-icon>send</mat-icon> Envoyer
                            </button>
                         </div>


                    </form>
                </div>


                <div class="us-padding-form">
                    <p class="regular-weight small-size grey-color">

                    </p>
                </div>
            </div>
        </div>


        
        <div style="display: flex; align-items: center;  justify-content: center; text-align: left; " >

        <div  style="padding-left: 0; padding-top: 10%; max-width:800px; flex-basis: 40%; margin:0px auto;" >
            
            <span style=" font-size: 20.5px; font-weight: bold;  color: #000;">
                L’EXTENSION DE GARANTIE, POUR UNE ROUTE PLUS SURE
                <br>  </span>
                <br>  <br>
            <img src="../assets/img/PAKAGES.jpg"  >
        </div>


        <div  style="padding-top: 10%; max-width: 800px; flex-basis: 40%; order:2; margin:0px auto; " >
            <span style="padding-right: 10px;  font-size: 20.5px; font-weight: bold;  color: #000; text-align: center;">
                PERSONNALISEZ VOTRE CONTRAT DE SERVICE
                    <br>
             
                   <span  class="small-size"  style="font-size: 16px; text-align: justify; color: #787B83;">"Pour moi, il s'agit d'un service sur mesure qui correspond à mes besoins"</span>
                   <br>
                </span>
                <br>
             <img src="../assets/img/ADDITIONAL-COVERAGES.jpg"  >
        </div>
           
        </div>

        <div class="uk-grid">
            <div class="uk-width-1-1 uk-margin-bottom bold-weight">
                <span class="title black-color" style=" padding: 2%; font-size: 30px; font-weight: bold; padding-left: 0; color: #000;">
                    Pourquoi choisir une extension de garantie et/ou un contrat de service

                    Peugeot pour ma voiture ?</span>
                <p class="other-size regular-weight" style="text-align: justify;">
                    Un contrat de service ne vous permet pas seulement de répartir les coûts d'entretien de votre Peugeot,
mais vous offre également des services supplémentaires précieux pour vous faciliter la vie avec votre
véhicule. La meilleure solution consiste à acheter votre contrat de service en même temps que votre
voiture afin de la protéger dès le départ. Si vous n'avez pas souscrit de contrat de service lors de l'achat de
votre voiture, vous pouvez néanmoins le faire à tout moment avant votre premier entretien régulier
(avant 10 000 Km). Une extension de garantie, en revanche, vous permet de prolonger la garantie du
fabricant au-delà de sa durée standard, ce qui vous permet de bénéficier de la même protection du
véhicule que la garantie originale du constructeur pendant deux années supplémentaires. Vous pouvez
souscrire un contrat d'extension de garantie à tout moment avant l'expiration de la garantie originale du
constructeur.
                </p>
            </div>
        </div>

    </div>
</section>

<div class="space"></div>