
  .main-form {
      padding-top: 0px !important;
  }

  .btn-cta.dark-blue, .satissonrasi .satis_buttons > a {
      color: #fff;
  }

      .btn-cta.dark-blue, .satissonrasi .satis_buttons > a:hover {
          color: #fff;
      }

  .aggreement-checkbox {
      padding-bottom: 20px;
  }

  input[type=checkbox], input[type=file], input[type=radio] {
      appearance: auto !important;
      -webkit-appearance: auto !important;
      -moz-appearance: auto !important;
      -webkit-appearance: radio !important;
  }

  .satissonrasi > .main-form {
      padding-top: 0px;
  }

  .q-st-button a {
      margin: 0 auto !important
  }

  .q-nav-primary .top-bar ul.first-level li > a {
      font-size: .625rem !important;
  }

  .button {
      margin: 0 0 1rem !important
  }

  .button, .q-button, .ui-control {
      margin-top: .5rem !important;
  }

  .q-link-list .q-button.link {
      margin-bottom: .5rem !important;
  }

  .disc {
      padding: 0px 0px 15px 32px;
  }

  .disc-button {
      padding: 40px 0px 15px 0px;
  }

      .disc-button p, .disc p {
          color: #4d4d4d;
      }

  @media only all and (max-width: 680px) {
      .main-form .bottom .left label {
          font-size: .75rem;
      }

      .main-form .bottom .left .optionalContainer label [type="checkbox"], .main-form .bottom .left .optionalContainer label [type="radio"] {
          background: none !important;
          border: 1px solid #cac6c5 !important;
          appearance: revert !important;
          -webkit-appearance: revert !important;
          -moz-appearance: revert !important;
          width: 1.325rem;
          height: 1.325rem;
      }
  }

  #termsContainer p {
      font-size: 13px;
  }


  .uk-width-1-1{
    padding: 2%;
  }

  .mat-mdc-select {
    //display: inline-block;
    width: 100%;
    //outline: auto rgb(178, 177, 177);
    padding: 10px;
  }

  .uk-width-1-1  label {
    //color: #191919;
   
    cursor: pointer;
    //display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 10px;
}




.other-size.regular-weight{
  font-size: 20px;
}

.uk-margin-bottom {
  padding-top: 100px;
  margin-bottom: 100px!important;
}

.uk-width {
  //box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  background-color: white;
}

.uk-grid {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 0;
  padding: 0;
  list-style: none;
}


section.services-form-calc input.more-btn {
    max-width: 180px;
    font-size: 14px;
    margin-top: 30px;
}
input[type="submit"], input[type="reset"], input[type="button"] {
    cursor: pointer;
    border: 1px solid #00A3E0;
    background-color: #00A3E0;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
    font-size: .75rem;
    font-weight: bold;
}


.uk-width-1-2\@m {
    width: 50%;
}



section.services-form-calc div.services-info {
  border-top: 10px solid #00A3E0;
  border-right: 1px solid #787B80;
  border-left: 1px solid #787B80;
  border-bottom: 1px solid #787B80;
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 27px 0;
  
}
.subtitle{
  color: #191919;
   
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.5;
    margin-bottom: 1px;
}

.price{
  color: #191919;
  display: block;
  font-size: 20px;
  font-weight: 500;

 
}

.mdc-text-field{
background-color: white;
}


div{
    color:white;
}




.mat-select-panel {
   background-color: white;
}

.mat-form-field-infix{
    background-color: white;
}

.mat-select{
  background-color: white;
}

.mat-select-value{
  color: white;
}

::ng-deep .mdc-text-field, .mdc-text-field--disabled, .mdc-text-field, .mdc-text-field--disabled{
 color: white !important;
 background-color: white !important;
}



::ng-deep mat-mdc-form-field uk-width-1-1 ng-tns-c3899553609-4 mat-mdc-form-field-type-mat-select mat-form-field-appearance-fill mat-primary ng-untouched ng-pristine ng-valid ng-star-inserted{

    background-color: white !important;
}

.mat-select-panel .custom_hover.mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: white !important;
  }
  
  .mat-select-panel .custom_hover.mat-option.mat-selected:not(.mat-option-multiple):hover {
    background-color: white !important;
  }
  



uk-grid uk-margin-medium-top uk-width-1-2 uk-width-1-1 uk-grid-small service-price-form uk-grid uk-width-1-1{
    background-color: white !important;
}


section.services-form-calc div.contact-form span.title {
  font: inherit;
  font-weight: bold;
  font-size: 24px;
  color: #000;
 
}

.span{
  margin-top: 20px;
  margin-bottom: 60px;
}



section.services-form-calc div.contact-form form label {
  font-size: 12px;
  font-weight: bold;
  color: #787B80;
  margin-top: 15px;
  line-height: 34px;
  font: inherit;
  vertical-align: baseline;
}

section.services-form-calc div.contact-form form input[type="text"] {
  border: none;
  padding: 0.9rem;
    height: auto;
    background-color: #ffffff;
    box-shadow: none;
    font: inherit;

    
}

section.services-form-calc div.contact-form form .uk-width-1-2\@muk-width-1-1{
  display: inline-flex;
  flex-direction: column !important;
 
  min-width: 0;
  text-align: left;
}

.space{
  padding: 60px;
}

input:not([type]), input[type=color], input[type=date], input[type=datetime-local], 
input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password],
 input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url],
  input[type=week], textarea, select {
  padding: 0.9rem;
  height: auto;
  margin: 0;
  /* border: 1px solid #787B80; */
  border: none;
  outline: none;
  background-color: #ffffff;
  box-shadow: none;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #00A3E0;
  --mdc-protected-button-label-text-color: #fff;
  max-width: 150px;
    font-size: 15px;
    margin-top: 30px;
    font-family: inherit;
    font-weight: 500;
    
}

.mat-mdc-raised-button{
  cursor: pointer;
  --mdc-protected-button-container-color: black;
}

.mat-mdc-button.mat-mdc-button-base, .mat-mdc-raised-button.mat-mdc-button-base, .mat-mdc-unelevated-button.mat-mdc-button-base, .mat-mdc-outlined-button.mat-mdc-button-base {
  height: 50px;
  width: 150px;
}

